.bulk-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 1.3rem;
    width: 92%;
    margin: 0 auto;
}
.retail-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 1.3rem;
    width: 92%;
    margin: 0 auto;
}
.tabs-buttons{
    position: absolute;
    right: 0;
    top: .37rem;
}
.tabs-head{
    padding: 0 1.5rem;
    position: relative;
}
.tab-select{
    outline: none;
    font-size: 1rem;
    padding: 0 1rem;
    top: 20%;
    position: absolute;
    right: 6%;
    z-index: 2;

    .select{
        outline: none;
        border: none;
        width: 106%;
        font-size: .7rem;
    }
}
